body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  background-color: #0f0f0a;
}
#container {
  /*   width: 100%;
  height: 100%; 
  background-color: #b3ffff;*/
  background-image: url("image/pokedex.png");
  background-size: cover;
  background-position: center;
  margin: 20px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 942px;
  height: 687px;
  display: flex;
  padding-bottom: 56px;
  padding-left: 44px;
  padding-right: 21px;
  padding-top: 178px;
  box-shadow: -10px 10px 9px -5px black;
  border-radius: 13px;
}

#img-container {
  border-radius: 20px;
  width: 335px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 7px;
  margin-right: 108.5px;
  margin-left: 26px;
  margin-bottom: 63px;
  box-shadow: inset -10px 10px 5px 0px rgba(0, 0, 0, 0.28);
  background-image: url("image/pokeBackground.jpg");
  background-size: cover;
  background-position: center;
}

#poke-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 28px;
  padding: 0;
}

#info-container {
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #0c1a57;
  color: white;
  padding: 15px;
  height: 150px;
  width: 380px;
  font-size: 12px;
  box-shadow: inset -10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #02aaf7;
  box-sizing: border-box;
  width: 380px;
  height: 155px;
  padding: 14px;
  border-radius: 6px;
  box-shadow: inset 0px 15px 5px -6px #3bcef8;
  box-shadow: 0px 0px 9px 0px #0478d1;
}
#input-search {
  font-family: "Press Start 2P", cursive;
  padding: 20px 10px;
  height: 40px;
  margin: 13px;
  border-radius: 10px;
  width: 360px;
}
#wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.boton {
  background-color: #d6d6c2;
  color: #3d3d29;
  border: none;
  text-align: center;
  font-size: 20px;
  margin: 12px;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}
.boton:hover {
  background-color: #6b6b47;
}

.infoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.spanId {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}
.abilities {
  margin-top: 0;
}
.abilitiList {
  list-style-type: none;
  margin-block-start:0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
li{
  padding:3px;
}
#poke-types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  padding: 10px;
  margin: 3px;
}
#poke-types > span {
  margin: 5px;
  border-radius: 7px;
  border: 1.5px solid #606060;
  padding: 7px;
  color: #f9f8a4;
}

.type-water {
  background-color: #718bf1;
  color: #606060;
}

.type-fire {
  background-color: #e28145;
  color: #606060;
}

.type-normal {
  background-color: #aca981;
  color: #606060;
}

.type-fighting {
  background-color: #bf3228;
  color: #606060;
}

.type-flying {
  background-color: #a792ee;
  color: #606060;
}

.type-poison {
  background-color: #a042a3;
  color: #606060;
}

.type-ground {
  background-color: #e2c06b;
  color: #606060;
}

.type-rock {
  background-color: #b6a038;
  color: #606060;
}

.type-bug {
  background-color: #aab922;
  color: #606060;
}

.type-ghost {
  background-color: #705a98;
  color: #606060;
}

.type-steel {
  background-color: #b7b8ce;
  color: #606060;
}

.type-grass {
  background-color: #79cb4f;
  color: #606060;
}

.type-electric {
  background-color: #f8d02e;
  color: #606060;
}

.type-psychic {
  background-color: #f55a86;
  color: #606060;
}

.type-ice {
  background-color: #9bd8d8;
  color: #606060;
}

.type-dragon {
  background-color: #6b3af8;
  color: #606060;
}

.type-dark {
  background-color: #705847;
  color: #606060;
}

.type-fairy {
  background-color: #ee9bae;
  color: #606060;
}

.type-unknown {
  background-color: #68a192;
  color: #606060;
}
